.hedingname{
    color: rgb(0, 42, 90);
    font-family: cursive;
    
}
.allheader{
    background-color: #d5c8f4;
    padding: 10px 20px ;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    
    
}
.urloflist{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20%;
    justify-content: center;
    
}
.linkofnav{
 text-decoration: none;
 color: rgb(57, 0, 80);
 font-family: cursive;

}
.imageofnav{
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
   position: fixed;
  right: 2%;
  top: 2%;
    align-items: end;
   
}
.dropdown-menu{
    list-style: none;
    padding: 0;
  margin: 5px 0 0 0;
  position: absolute;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 150px;
  top: 40px;
  right: 0;
  display: block;
}
.dropdown-menu li {
    padding: 10px;
  }
 .logoutbutton{
    border: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 2px 30px;
 }
.logoutbutton:hover{
    color: #c5b0f5;
}
@media screen and (min-width:150px) {
    .allheader{
        flex-direction: column;
    }
    .urloflist{
        gap: 5%;
    }
    .hedingname{
        font-size: 15px;
    }
    .linkofnav{
        font-size: 12px;
    }
    
}
@media screen and (min-width:350px){
    .allheader{
        flex-direction: row;
    }
    .hedingname{
        font-size: 22px;
    }
    .urloflist{
        gap: 10%;
    }
    .linkofnav{
        font-size: 15px;
    }
    .hedingname{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .linkofnav{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
}
@media screen and (min-width:500px){
    .allheader{
        flex-direction: row;
    }
    .hedingname{
        font-size: 22px;
    }
    .urloflist{
        gap: 20%;
    }
    .linkofnav{
        font-size: 15px;
    }
    .hedingname{
        font-family:cursive;
        }
        .linkofnav{
        font-family: cursive;
        }
    

}